### Printing format

##### String formatting

In [ ]:
print('Hello worlds')

In [ ]:
a = 'world'
print('Hello',a,'!!!')

In [1]:
print('The first letter is: {}, the second: {}, the third: {}'.format('a','b','c'))

The first letter is: a, the second: b, the third: c

In [12]:
print('The first letter is: {2}, the second: {1}, the third: {0}'.format('a','b','c'))

The first letter is: c, the second: b, the third: a

In [13]:
print('The first letter is: {0}, the second: {0}, the third: {0}'.format('a'))

The first letter is: a, the second: a, the third: a

##### Integers and Floats

In [15]:
print('The number is {0}, and {0}, and {1}'.format(10,20))

The number is 10, and 10, and 20

In [14]:
print('The number is {0}, and {0}, and {0}'.format(10.00020))

The number is 10.0002, and 10.0002, and 10.0002

##### Other formatings

In [20]:
aa= [20202, 39394]
print('The number is {0}, and {0}, and {1}'.format(aa[0],"abcd"))

The number is 20202, and 20202, and abcd

In [19]:
print('The number is {0}, and {0}, and {0}'.format({'Tru TV':'Chris Gethard'}))

The number is {'Tru TV': 'Chris Gethard'}, and {'Tru TV': 'Chris Gethard'}, and {'Tru TV': 'Chris Gethard'}

In [21]:
print('The number is {0}, and {1}, and {0}'.format('A$AP Ferg', 'A$AP Rocky'))

The number is A$AP Ferg, and A$AP Rocky, and A$AP Ferg

In [22]:
print('The number is {a}, and {b}, and {a}'.format(a=10.00020, b=20))

The number is 10.0002, and 20, and 10.0002

In [23]:
d = 'BROADER AI'
print('Place another string with a mod and s: %s' %(d))

Place another string with a mod and s: BROADER AI

##### Floating Point Numbers

In [24]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [1]:
print('Floating point numbers: %5.5f' %(13.134544))

Floating point numbers: 13.13454

In [2]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [3]:
print('Floating point numbers: %25.3f' %(13.144))

Floating point numbers:                    13.144

##### Conversion Format methods

It should be noted that two methods %s and %r actually convert any python object to a string using two separate methods: str() and repr()

Both are used of string represenation

In [28]:
print('Here is a number: %s. Here is a string: %s' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: hi

In [26]:
print('Here is a number: %r. Here is a string: %r' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: 'hi'

##### Multiple Formatting
Pass a tuple to the modulo symbol to place multiple formats in your print statements:

In [4]:
print('First: %s, Second: %1.2f, Third: %r' %('hi!',3.14,22))

First: hi!, Second: 3.14, Third: 22

In [5]:
print('This is a string with an {p}'.format(p='insert'))

This is a string with an insert

In [6]:
print('One: {p}, Two: {p}, Three: {p}'.format(p='Hi!'))

One: Hi!, Two: Hi!, Three: Hi!

In [7]:
print('Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3))

Object 1: 1, Object 2: two, Object 3: 12.3

### Lists

Multiple items can be stored in a single variable using lists.

In [ ]:
my_list = [1,2,3]

In [10]:
my_list = ['A string', 23, 100.232]

In [ ]:
my_list

In [11]:
len(my_list)

3

##### Indexing and Slicing

In [16]:
my_list = ['one','two','three',4,5]

In [19]:
my_list[0]

'one'

In [24]:
my_list[-4]

'two'

In [5]:
my_list[1:3]

['two', 'three']

In [25]:
my_list[:]

['one', 'two', 'three', 4, 5]

In [26]:
my_list[1:3]

['two', 'three']

In [27]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [28]:
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [2]:
l = [1,2,3,7,6,5,4,34,3,7,5,43,2,3,3]

In [3]:
l[:]

[1, 2, 3, 7, 6, 5, 4, 34, 3, 7, 5, 43, 2, 3, 3]

In [4]:
l[:-1]

[1, 2, 3, 7, 6, 5, 4, 34, 3, 7, 5, 43, 2, 3]

In [5]:
l[1:4]

[2, 3, 7]

In [8]:
l[::-1]

[3, 3, 2, 43, 5, 7, 3, 34, 4, 5, 6, 7, 3, 2, 1]

In [34]:
l[0:5:2]

[1, 3, 6]

In [35]:
l[0:5]

[1, 2, 3, 7, 6]

In [36]:
l

[1, 2, 3, 7, 6, 5, 4, 34, 3, 7, 5, 43, 2, 3, 3]

In [37]:
l[-5:-3]

[5, 43]

In [38]:
l[-4:-1]

[43, 2, 3]

In [39]:
l[:4:1]

[1, 2, 3, 7]

##### List methods

In [6]:
l = [1,2,3,7,6,5,4,34,3,7,5,43,2,3,3]

In [7]:
l.append('append me!')
l

[1, 2, 3, 7, 6, 5, 4, 34, 3, 7, 5, 43, 2, 3, 3, 'append me!']

It removes an item at the specified index from the list.

In [8]:
l.pop(-1)
l

[1, 2, 3, 7, 6, 5, 4, 34, 3, 7, 5, 43, 2, 3, 3]

In [9]:
l.reverse()
l

[3, 3, 2, 43, 5, 7, 3, 34, 4, 5, 6, 7, 3, 2, 1]

In [10]:
l.sort()
l

[1, 2, 2, 3, 3, 3, 3, 4, 5, 5, 6, 7, 7, 34, 43]

In [11]:
l.sort(reverse=True)
l

[43, 34, 7, 7, 6, 5, 5, 4, 3, 3, 3, 3, 2, 2, 1]

In [12]:
len(l)

15

In [13]:
l.count(3)

4

##### Nested lists

In [19]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
matrix[1][-1]

6

In [16]:
a = [1,2,3]

In [18]:
a[1:2]

[2]

In [20]:
matrix[0:1]

[[1, 2, 3]]

In [21]:
for i in matrix[0:2]:
    print(i)

[1, 2, 3]
[4, 5, 6]

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
a = []

In [23]:
for i in range(0,5):
    a.append(i)

In [24]:
type(a)

list

In [25]:
a

[0, 1, 2, 3, 4]

##### List Comprehensions

Python has an advanced feature called list comprehensions. They allow for quick construction of lists.

In [35]:
first_col =(i for i in range(0,5))

In [27]:
first_col

[0, 1, 2, 3, 4]

In [43]:
for i in 'word':
    print(i)

w
o
r
d

In [36]:
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [44]:
lst = [x*2 for x in range(0,6)]
lst

[0, 2, 4, 6, 8, 10]

In [45]:
lst = [x for x in range(5) if x % 2 == 0]
lst

[0, 2, 4]

In [46]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [6]:
a = []
for x in range(0,6):
    a.append(x*2)

In [7]:
a

[0, 2, 4, 6, 8, 10]

In [8]:
b=[]
for i in a:
    b.append(i*2)

In [9]:
b

[0, 4, 8, 12, 16, 20]

In [1]:
lst = [ x*2 for x in [x*2 for x in range(3)]]
lst

[0, 4, 8]

### Dictionaries

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [2]:
my_dict = {'key1':'value1','key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dict["key2"]

'value2'

In [5]:
my_dict = {'cat':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
# print(my_dict['key3'])
# print(my_dict['key3'][-1])
print(my_dict['key3'][1].upper())

ITEM1

In [8]:
my_dict['cat'] -123

0

In [9]:
my_dict['cat'] = my_dict['cat'] - 123
my_dict['cat']

0

In [6]:
my_dict

{'cat': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [9]:
for i in my_dict:
    print(i,my_dict[i])

cat 123
key2 [12, 23, 33]
key3 ['item0', 'item1', 'item2']

In [18]:
for i in my_dict.values():
    print(i)

0
[12, 23, 33]
['item0', 'item1', 'item2']

In [20]:
for i,j in my_dict.items():
    print(i)
    print(j)

cat
0
key2
[12, 23, 33]
key3
['item0', 'item1', 'item2']

In [10]:
d = dict()

In [13]:
d = {}
d['animal'] = 'Dog'
d['answer'] = 44
d['answer'] = [45,44]
d

{'animal': 'Dog', 'answer': [45, 44]}

In [14]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [29]:
d.keys()

dict_keys(['key1'])

In [36]:
d.values()

dict_values([{'nestkey': {'subnestkey': 'value'}}])

In [16]:
i = {'nestkey': {'subnestkey': 'value'}}

In [15]:
for i in d.values():
#     print(i.values())
    for j in i.values():
#         print(j.values())
        for k in j.values():
            print(k)

value

### Tuples

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed.

In [17]:
t = (1,2,3,7,6,5,2,4,2,4,9,2)
len(t)

12

In [18]:
t[0]

1

In [19]:
t.index(7)

3

In [20]:
t.count(2)

4

##### Immutability

In [11]:
a = [0,1,2,3]

In [12]:
a[0] = 5

In [13]:
a

[5, 1, 2, 3]

In [14]:
# t[0]= 'change'

In [15]:
# t.append('nope')

In [1]:
li = list(t)
li

NameError: name 't' is not defined

### Sets

Sets are an unordered collection of unique elements. We can construct them by using the set() function

In [2]:
x = set()
x.add(1)
x.add(2)
x.add(2)
x.add(3)
x

{1, 2, 3}

In [3]:
l = [1,1,2,2,3,4,5,6,1,1]
l

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [4]:
set(l)

{1, 2, 3, 4, 5, 6}

In [6]:
li =[]
for i in l:
    if i not in li:
        li.append(i)

### Comparision Operator


##### Table of Comparison Operators

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

##### Equal

In [ ]:
9==9

In [ ]:
9==0

##### Not Equal

In [ ]:
2 != 1

In [ ]:
2 != 2

##### Greater than

In [ ]:
2 > 1

In [ ]:
2 > 4

##### Less than

In [ ]:
2 < 4

In [ ]:
2 < 1

##### Greater Than or Equal to

In [ ]:
2 >= 2

In [ ]:
2 >= 1

##### Less than or Equal to

In [ ]:
2 <= 2

In [ ]:
2 <= 4

##### Advanced comparisions

In [ ]:
1 < 2 < 3

In [ ]:
1<2 and 2<3

In [ ]:
1<2 and 2<1

In [ ]:
1 < 3 > 2

In [ ]:
1<3 and 3>2

In [ ]:
1==2 or 2<3

In [ ]:
1==2 or 100==1

### If else statement

If Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

In [ ]:
a = 'Bank'

if a == 'Auto Shop':
    print('Welcome to the Auto Shop!')
    
elif a == 'Bank':
    print('Welcome to the bank!')
    
else:
    print("Where are you?")

### For loops
A for loop acts as an iterator in Python, it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

In [1]:
l = [1,2,3,4,5,6,7,8,9,10]

for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
for num in l:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]

In [4]:
list_sum = 0 

for num in l:
    list_sum = list_sum + num
print(list_sum)

55

In [5]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [8]:
d = {'k1':1,'k2':2,'k3':3}
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [6]:
d = {'k1':1,'k2':2,'k3':3}

for k,v in d.items():
    print(k,v)

k1 1
k2 2
k3 3

In [7]:
for k in d.keys():
    print(k)

k1
k2
k3

In [8]:
for v in d.values():
    print(v)

1
2
3

### While loops
The while statement in Python is one of most general ways to perform iteration. A while statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

In [15]:
i=1
while i<11:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [11]:
x = 0

while x < 11:
    if x<10:
        print('x is currently: ',x)
        print(' x is still less than 10, adding 1 to x')
    elif x==10:
        print('x is currently: ',x)
        print('Now x = 10')
    x += 1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
x is currently:  10
Now x = 10

In [12]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x ==5:
        print('Breaking because x=5')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
continuing...
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
Breaking because x=5

### Range
range() allows us to create a list of numbers ranging from a starting point up to an ending point

In [9]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [13]:
for num in range(0,5):
    print(num)

0
1
2
3
4

In [14]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

### Functions

A function is a useful concept that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. A function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

In [ ]:
def say_hello():
    print('hello')
    
say_hello()

In [16]:
def add_num(num1,num2):
    num3 = num1+num2
    num4 = num1-num2
    return num3, num4

add_num(100,60)

(160, 40)

### Lambda Function

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.


lambda's body is a single expression, not a block of statements.

The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

In [20]:
square = lambda num1, num2: num1*num2
square(3,4)

12

In [18]:
square1 = lambda num: num**2
square1(10)

100

In [19]:
even = lambda x: x%2==0 # vCheck even number

print(even(4))
print(even(3))

True
False

In [20]:
first = lambda s: s[0]

first('hello')

'h'

In [21]:
rev = lambda s: s[::-1]
rev('hello')

'olleh'

In [22]:
adder = lambda x,y : x+y
adder(2,3)

5

In [2]:
a = [1,2,3]

In [3]:
b = tuple(a)

In [26]:
b

(1, 2, 3)

In [4]:
c = list(b)

In [28]:
c

[1, 2, 3]

In [7]:
a = '1'
b = 1

In [8]:
int(a) +10

11

In [9]:
c = int(a)

In [10]:
type(c)

int

In [11]:
d = {'k1':1,'k1':1,'k3':3}

In [12]:
a = [3,1,5,4,6,3]

In [13]:
d={}

In [14]:
for i in range(0,len(a),2):
    d[a[i]] = a[i+1]

In [15]:
d

{3: 1, 5: 4, 6: 3}

In [19]:
min(d.values())

1

## File Handling

In [17]:
with open("foo.txt", "a") as f:
     f.write("new line\n")

In [18]:
with open("foo.txt", "r+") as f:
    old = f.read()
    f.write("new line 2\n" )

In [1]:
import json

my_dict = {"name": "John", "age": 30, "city": "New York"}

json_str = json.dumps(my_dict)

In [2]:
json_str

'{"name": "John", "age": 30, "city": "New York"}'

In [3]:
with open("my_file.json", "w") as f:
    f.write(json_str)

In [4]:
f = open ('my_file.json', "r")
data = json.loads(f.read())

In [5]:
data

{'name': 'John', 'age': 30, 'city': 'New York'}

In [6]:
import csv

with open('my_file.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['Name', 'Age', 'City'])
    writer.writerow(['John', '30', 'New York'])
    writer.writerow(['Jane', '25', 'Los Angeles'])

In [7]:
import csv

with open('my_file.csv','r') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['John', '30', 'New York']
['Jane', '25', 'Los Angeles']

## Try & except

In [3]:
li = [10,15,25]
try:
    for i in range(4):
        print(li[i])
except:
    pass

10
15
25

### Object Oriented programming

In Python, everything is an object.we can use type() to check the type of object something is:

In [6]:
print (type(1))
print (type([]))
print (type(()))
print (type({}))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

##### class

The user defined objects are created using the class keyword. The class is a blueprint that defines a nature of a future object. From classes we can construct instances. An instance is a specific object created from a particular class.

By convention we give classes a name that starts with a capital letter. Note how x is now the reference to our new instance of a Sample class. In other words, we instantiate the Sample class.

Inside of the class we currently just have pass. But we can define class attributes and methods.

An attribute is a characteristic of an object. A method is an operation we can perform with the object.

For example we can create a class called Dog. An attribute of a dog may be its breed or its name, while a method of a dog may be defined by a .bark() method which returns a sound.

In [17]:
class Demo:
    a = 'Hello world'
    
    def sample(self):
        print(10+50)
main_demo = Demo()
main_demo.sample()
main_demo.a

60

'Hello world'

In [1]:
class Hello:
    a = 50
    def sample(self):
        print(self.a)
        
    def sample2(self,a):
        c = a*self.a
        print(c)
    
    def sample3(self,a,b):
        print(a+b)

In [2]:
obj = Hello()
obj.sample2(20)

1000

In [8]:
# class Demo1:
#     a = 50
#     def __init__(self):
#         print('Broader AI')
        
#     def sample(self):
#         print(self.a)
        
#     def sample1(self):
#         c = self.a * self.a
#         print(c)
        
#     def sample2(self,a,b):
#         print(a+b)  
        
# main_demo = Demo1()
# main_demo.sample1()

In [7]:
class Dog():
    def __init__(self,breed):
        self.breed = breed
        
sam = Dog('Lab')
frank = Dog('Huskie')

In [8]:
sam.breed

'Lab'

In [50]:
frank.breed

'Huskie'

In Python there are also class object attributes. These Class Object Attributes are the same for any instance of the class. For example, we could create the attribute species for the Dog class.

In [13]:
class Dog(object):
    
    # Class Object Attribute
    species = 'mammal'
    
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name

In [14]:
sam = Dog('Lab','Sam')

In [15]:
sam.name

'Sam'

In [16]:
sam.species

'mammal'

##### Methods

In [28]:
class Circle(object):
    pi = 3.14

    # Circle get instantiated with a radius (default is 1)
    def __init__(self, radius=1):
        self.radius = radius 

    # Area method calculates the area. Note the use of self.
    def area(self):
        return self.radius * self.radius * Circle.pi

    # Method for resetting Radius
    def setRadius(self, radius):
        self.radius = radius

    # Method for getting radius (Same as just calling .radius)
    def getRadius(self):
        return self.radius


c = Circle()

c.setRadius(2)

print('Radius is: ',c.getRadius())
print('Area is: ',c.area())

Radius is:  2
Area is:  12.56

##### Inheritance

Inheritance is a way to form new classes using classes that have already been defined. The newly formed classes are called derived classes, the classes that we derive from are called base classes. Important benefits of inheritance are code reuse and reduction of complexity of a program. The derived classes (descendants) override or extend the functionality of base classes (ancestors).

In [1]:
class Animal():

    def whoAmI(self):
        print("Animal")

    def eat(self):
        print("Eating")


class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")

    def whoAmI(self):
        print("Dog")

    def bark(self):
        print("Woof!")

In [6]:
d=Dog()

Dog created

In [3]:
d.whoAmI()

Dog

In [4]:
d.eat()

Eating

In [6]:
d.bark()

Woof!

##### Default methods

In [29]:
class Book(object):
    def __init__(self, title, author, pages):
        print("A book is created")
        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return "Title:%s , author:%s, pages:%s " %(self.title, self.author, self.pages)

    def __len__(self):
        return self.pages

    def __del__(self):
        print("A book is destroyed")

In [30]:
book = Book("Python Rocks!", "Jose Portilla", 159)

# print(book)
print(len(book))
del book

A book is created
159
A book is destroyed

### Errors and Exception Handling

##### try and except

In [1]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else: # when exception is not excuted
    print("Content written successfully")
    f.close()

Content written successfully

In [ ]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

In [ ]:
try:
    f = open("testfile", "w")
    f.write("Test write statement")
finally:
    print("Always execute finally code blocks")

### Map

map() is a function that takes in two arguments: a function and a sequence iterable. In the form: map(function, sequence)

The first argument is the name of a function and the second a sequence (e.g. a list). map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by function.

In [ ]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]

In [ ]:
F_temps = map(fahrenheit, temp)

#Show
list(F_temps)

In [ ]:
a = map(lambda x: (5.0/9)*(x - 32), F_temps)
list(a)

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y:x+y,a,b))

### Filter

The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns True.

The function filter(function(),l) needs a function as its first argument. The function needs to return a Boolean value (either True or False). This function will be applied to every element of the iterable. Only if the function returns True will the element of the iterable be included in the result.

In [7]:
def even_check(num):
    if num%2 ==0:
        return True

In [8]:
lst =range(20)

list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### All() and Any()

all() and any() are built-in functions in Python that allow us to conveniently check for boolean matching in an iterable. 

all() will return True if all elements in an iterable are True. 

any() will return True if any of the elements in the iterable are True.

In [10]:
lst = [True,True,False,True]

In [11]:
all(lst)

False

In [12]:
any(lst)

True

### Regex (Regular Expressions)

#### Search Patterns

In [3]:
import re

# List of patterns to search for
patterns = [ 'NLP', 'data', "sushil" ]

# Text to parse
text = 'NLP stands for Natural Language Processing which is widely used for text data.'

for pattern in patterns:
    print('Searching for "%s" in: \n"%s"' % (pattern, text))
    
    #Check for match
    if re.search(pattern,  text):
        print('\n')
        print('Match was found. \n')
    else:
        print('\n')
        print('No Match was found.\n')

Searching for "NLP" in:
"NLP stands for Natural Language Processing which is widely used for text data."


Match was found.

Searching for "data" in:
"NLP stands for Natural Language Processing which is widely used for text data."


Match was found.

Searching for "sushil" in:
"NLP stands for Natural Language Processing which is widely used for text data."


No Match was found.

In [4]:
pattern = 'Language'

match = re.search(pattern,  text)

type(match)

re.Match

In [5]:
# Show start of match
match.start()

23

In [6]:
# Show end
match.end()

31

#### Splitting Text

In [7]:
# Term to split on
split_term = 'which'

# Split the phrase
re.split(split_term,text)

['NLP stands for Natural Language Processing ',
 ' is widely used for text data.']

#### Find all pattern in the given text

In [8]:
text = "Machine learning is the best tech now a days. Machine learning is a kind of prediction of the future"
re.findall('Machine', text)

['Machine', 'Machine']

#### Pattern re Syntax

In [ ]:
def multi_re_find(patterns,phrase):
    '''
    Takes in a list of regex patterns
    Prints a list of all matches
    '''
    for pattern in patterns:
        print('Searching the phrase using the re check: %s' %pattern)
        print(re.findall(pattern,phrase))
        print('\n')

##### Repetition Syntax

There are five ways to express repetition in a pattern:

1.) A pattern followed by the meta-character * is repeated zero or more times. 

2.) Replace the * with + and the pattern must appear at least once. 

3.) Using ? means the pattern appears zero or one time. 

4.) For a specific number of occurrences, use {m} after the pattern, where m is replaced with the number of times the pattern should repeat. 

5.) Use {m,n} where m is the minimum number of repetitions and n is the maximum. Leaving out n ({m,}) means the value appears at least m times, with no maximum.

In [ ]:
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

test_patterns = [ 'sd*',     # s followed by zero or more d's
                'sd+',          # s followed by one or more d's
                'sd?',          # s followed by zero or one d's
                'sd{3}',        # s followed by three d's
                'sd{2,3}',      # s followed by two to three d's
                ]

multi_re_find(test_patterns,test_phrase)

##### Character Sets

Character sets are used when you wish to match any one of a group of characters at a point in the input. Brackets are used to construct character set inputs. For example: the input [ab] searches for occurrences of either a or b. Let's see some examples:

In [ ]:
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

test_patterns = [ '[sd]',    # either s or d
            's[sd]+']   # s followed by one or more s or d
            

multi_re_find(test_patterns,test_phrase)

In [ ]:
test_phrase = 'This is an example sentence. Lets see if we can find some letters.'

test_patterns=[ '[a-z]+',      # sequences of lower case letters
                '[A-Z]+',      # sequences of upper case letters
                '[a-zA-Z]+',   # sequences of lower or upper case letters
                '[A-Z][a-z]+'] # one upper case letter followed by lower case letters
                
multi_re_find(test_patterns,test_phrase)

##### Escape Codes

You can use special escape codes to find specific types of patterns in your data, such as digits, non-digits,whitespace, and more. For example:

Code	Meaning

\d	a digit

\D	a non-digit

\s	whitespace (tab, space, newline, etc.)

\S	non-whitespace

\w	alphanumeric

\W	non-alphanumeric


Escapes are indicated by prefixing the character with a backslash (). Unfortunately, a backslash must itself be escaped in normal Python strings, and that results in expressions that are difficult to read. Using raw strings, created by prefixing the literal value with r, for creating regular expressions eliminates this problem and maintains readability.

Personally, I think this use of r to escape a backslash is probably one of the things that block someone who is not familiar with regex in Python from being able to read regex code at first. Hopefully after seeing these examples this syntax will become clear.

In [ ]:
test_phrase = 'This is a string with some numbers 1233 and a symbol #hashtag'

test_patterns=[ '\d+', # sequence of digits
                '\D+', # sequence of non-digits
                '\s+', # sequence of whitespace
                '\S+', # sequence of non-whitespace
                '\w+', # alphanumeric characters
                '\W+', # non-alphanumeric
                ]

multi_re_find(test_patterns,test_phrase)

In [ ]:
a= " I am  ysd ."

" ".join([i for i in a.split(" ")])