In [21]:
name="john"
roll_no=25
per=95
print(name,roll_no,per)
attendance=input()
per=97
print(name,roll_no,per,attendance)
#use separater
print(name,roll_no,per,attendance,sep="-")

john 25 95
52
john 25 97 52
john-25-97-52

In [32]:
marks={"mats":99,"science":98,"english":95}

marks["physics"]=56
print(marks)

{'mats': 99, 'science': 98, 'english': 95, 'physics': 56}

In [34]:
marks=[99,95,94,96]
marks.append(56)
print(marks)

[99, 95, 94, 96, 56]

In [38]:
#to define ascii value
print(ord("a"))
print(ord('2'))

97
50

In [40]:
a=int(input("first number: "))
b=int(input("second number: "))
print(a+b)

first number: 2
second number: 3
5

In [50]:
a=int(input("first number: "))
b=int(input("second number: "))
print("sum is: ",a+b)
print("average is: ",a-b)
print("multiply is: ",a*b)
print("devide by: ",a/b)
print("persantage is: ",a%b)
print("double multiply is: ",a**b)
print("double devision is: ",a//b)
print("...............................")
a+=b
print("sum is: ",a+b)
print(a>b)
print(a!=b)
print(a==b)

first number: 5
second number: 3
sum is:  8
average is:  2
multiply is:  15
devide by:  1.6666666666666667
persantage is:  2
double multiply is:  125
double devision is:  1
...............................
sum is:  11
True
True
False

In [52]:
a=input("a: ")
b=input("b: ")
exp1=a<b
exp2=a>b
print("exp1: ",exp1)
print("exp2: ",exp2)
print("not exp: ",not(exp1))

a: 5
b: 3
exp1:  False
exp2:  True
not exp:  True

In [54]:
#is and is not operator
a=input("a: ")
b=input("b: ")
print("is op: ",a is b)
print("is not op: ",a is not b)

a: 5
b: 5
is op:  True
is not op:  False

In [57]:
#in and not in operator
fruit=["mango","banana","apple"]
print("mango" in fruit)
print("mango" not in fruit)

True
False

In [7]:
#binary operator
a=5
b=3
print("and operator: " ,a & b)
print("or operator: ", a | b)
print("xor operator ",a^b)
print("not operator: ",~ b)

and operator:  1
or operator:  7
xor operator  6
not operator:  -4

In [72]:
#volume of sphere
radious=float(input("enter radious: "))
volume=(4/3)*3.1415*(radious**3)
print(volume)

enter radious: 2
33.50933333333333

In [77]:
#convert temprature celcius to fernhit
temp_cel=float(input("enter temprature: "))
temp_fer=(temp_cel*9/5)+32
print("temprature in to fernhit: ",temp_fer)

enter temprature: 20
temprature in to fernhit:  68.0

In [78]:
print(8//3+4%2)

2

In [86]:
print(10%4)

2

In [92]:
a=int(input("take a integer: "))
if a>0: 
    print("positive")
else:
    print("nagative")

take a integer: -5
nagative

In [96]:
a=int(input("take a integer"))
if a>0:
    if a%2==0:
        print("numer is even")
    else:
        print("number is odd")
else:
    print("number is nagative")

take a integer16
numer is even

In [100]:
#profit and loss
cost_price=int(input("enter cost price: "))
sell_price=int(input("enter sell price: "))
if cost_price>sell_price:
    print("you made profit: ",cost_price-sell_price)
elif cost_price<sell_price:
    print("you in loss: ",sell_price-cost_price)
else:
    print("no profit / no loss")

enter cost price: 3000
enter sell price: 500
you made profit:  2500

In [108]:
sname=input("take a student name: ")
per=float(input("take a percentage: "))
if per>=81:
    print("very good ",sname)
elif per>=61:
    print("good ",sname)
elif per>=41:
    print("average ",sname)
elif per<=40 and per>=0:
    print("fail ", sname)
else:
    print("invalid percentage")

take a student name: jhj
take a percentage: 75
good  jhj

In [111]:
maths=int(input("enter maths marks: "))
english=int(input("enter english marks: "))
if maths>=80 and english>=80:
    print("grade = A")
elif maths<80 and english<80:
    print("grade = c")
else:
    print("grade = B")

enter maths marks: 65
enter english marks: 65
grade = c

In [116]:
number="123"
print(len(number))

3

In [117]:
number=str(input("take a positive integer: "))
if len(number)==4:
    print("its a 4 digit")
else:
    print("not")

take a positive integer: 2536
its a 4 digit

In [2]:
a=int(input("input number 1: "))
b=int(input("input numer 2:"))
c=int(input("input number 3:"))
if a>b and a>c:
    print("a is greater than b and c.")
elif b>c and b>a:
    print("b is greater than a and c")
else:
    print("c is greater than both")

input number 1: 5
input numer 2:8
input number 3:10
c is greater than both

In [5]:
#nested if
a=int(input("input number 1: "))
b=int(input("input numer 2:"))
c=int(input("input number 3:"))
if a>b:
    if a>c:
        print("a is greatest")
    else:
        print("c is greatest")
else:
    if b>a:
        if b>c:
            print("b is greatest")
        else:
            print("c is greatest")

input number 1: 5
input numer 2:2
input number 3:8
c is greatest

In [8]:
a=int(input("enter number: "))
if a%3==0 or a%5==0:
    if a%15!=0:
        print("true")
    else:
        print("false")
else:
    print("false")

enter number: 20
true

In [54]:
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
operator = input("Enter operator: ")

match operator:
    case '+':
        print("Sum is:", a + b)
    case '-':
        print("Difference is:", a - b)

SyntaxError: invalid syntax (2175978803.py, line 5)

In [9]:
#######################

In [33]:
num=int(input("enter number: "))
print("number is even" if num%2==0 else "odd")

enter number: 6
number is even

In [36]:
a=int(input("enter a: "))
b=int(input("enter b: "))
print("sum is: ",a+b if a>b else "not valid")

enter a: 5
enter b: 7
sum is:  not valid

In [37]:
#for loop 
#range(strat,end,step)

In [49]:
for i in range(1,10,2):
    print(i, "hello")

1 hello
3 hello
5 hello
7 hello
9 hello

In [55]:
list=['1','2','3']
fruits=['banana','mango','apple']
for i in list:
    print(i)
for f in fruits:
    print(f)

1
2
3
banana
mango
apple

In [2]:
j=1
while j<=15:
    print(j)
    j+=2

1
3
5
7
9
11
13
15

In [ ]:
i=1
while i==1:
    print(i)
    i=i-1

In [2]:
x=0
y=4
while x>=0:
    x-=1
    y+=1
    if x==y:
        continue
    else:
        print(x,y)

-1 5

In [5]:
for n in range(1):
    print('*****')

*****

In [ ]:
for n in range(2):
    print('*****')

In [4]:
i=1
while i<=2:
    print("*****")
    i=i+1

*****
*****

In [6]:
n=int(input("enter number: "))
for i in range(n):
    print("*" * 5)

enter number: 5
*****
*****
*****
*****
*****

In [29]:
n=int(input("enter number: "))
for i in range(n):
    for j in range(1,n+1):
        print(j,end="")
    print()

enter number: 5
12345
12345
12345
12345
12345

In [32]:
n=int(input("enter number: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

enter number: 5
1
12
123
1234
12345

In [67]:
n=int(input("enter number: "))
n1=65
for i in range(n):
    for j in range(1,i+1):
        ch=chr(n1)
        print(ch,end="")
        n1=n1+1
    print()

enter number: 5

A
BC
DEF
GHIJ

In [35]:
print(chr(97))

a

In [8]:

n=int(input("enter number: "))
for i in range(1,n+1):
    print("  "*(n-i),end=" ")
    for j in range(1,2*i):
        print(j,end="")
        
    print()

enter number: 5
         1
       123
     12345
   1234567
 123456789

In [ ]:
#insert #append #extend######

In [38]:
fruits=["mango","apple","chiku"]
print(fruits)
fruits[1]="kiwi"
print(fruits)
fruits.append("watermelon")
print(fruits)
fruits.insert(2,"grapes")
print(fruits)
fruit1=["pinapple","cherry"]
fruits.extend(fruit1)
print(fruits)
fruits.remove("mango")
print(fruits)

['mango', 'apple', 'chiku']
['mango', 'kiwi', 'chiku']
['mango', 'kiwi', 'chiku', 'watermelon']
['mango', 'kiwi', 'grapes', 'chiku', 'watermelon']
['mango', 'kiwi', 'grapes', 'chiku', 'watermelon', 'pinapple', 'cherry']
['kiwi', 'grapes', 'chiku', 'watermelon', 'pinapple', 'cherry']

In [28]:
if "mango" in fruits:
    print("mango is present...!")
else:
    print("not present ")

mango is present...!

In [29]:
#indexing list#####

In [30]:
print(fruits[1:4])

['kiwi', 'grapes', 'chiku']

In [31]:
print(fruits[-5:-2])

['mango', 'kiwi', 'grapes']

In [37]:
fruits.remove("kiwi")
print(fruits)

['grapes', 'chiku', 'watermelon', 'pinapple', 'cherry']

In [39]:
fruits.pop(2)
print(fruits)

['kiwi', 'grapes', 'watermelon', 'pinapple', 'cherry']

In [ ]:
##change list value

In [40]:
fruits[2]="mango"
print(fruits)

['kiwi', 'grapes', 'mango', 'pinapple', 'cherry']

In [41]:
fruits[0:2]=("banana","chiku")
print(fruits)

['banana', 'chiku', 'mango', 'pinapple', 'cherry']

In [51]:
num=[11,12,13,14,15]
num[1:3]="aman"
print(num)

[11, 'a', 'm', 'a', 'n', 14, 15]

In [ ]:
###ascending and decending order#####

In [58]:
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

['banana', 'cherry', 'chiku', 'mango', 'pinapple']
['pinapple', 'mango', 'chiku', 'cherry', 'banana']

In [59]:
fruits.sort(reverse=True)
print(fruits)
fruits.reverse()
print(fruits)

['pinapple', 'mango', 'chiku', 'cherry', 'banana']
['banana', 'cherry', 'chiku', 'mango', 'pinapple']

In [ ]:
####filtering ###

In [67]:
new_fruit=[fruit for fruit in fruits if "a" in fruit]
print(new_fruit)

['banana', 'mango', 'pinapple']

In [69]:
new=fruits.copy()
print(new)

['banana', 'cherry', 'chiku', 'mango', 'pinapple']

In [70]:
merge=fruits+new
print(merge)

['banana', 'cherry', 'chiku', 'mango', 'pinapple', 'banana', 'cherry', 'chiku', 'mango', 'pinapple']

In [71]:
num=[1,2,[3,4],5]
print(num)

[1, 2, [3, 4], 5]

In [72]:
print(num[2])

[3, 4]

In [74]:
print(num[2][0])

3

In [83]:
num.insert(4,[6,7])
print(num)

[1, 2, [6, 7], 6, [6, 7], '6', [3, 4], 5]

In [85]:
num=[23,65,19,90]
num[0]=num[2]
num[2]=num[0]
print(num)

[19, 65, 19, 90]

In [90]:
num=[23,65,19,90]
temp=num[2]
num[2]=num[0]
num[0]=temp
print(num)

[19, 65, 23, 90]

In [92]:
list=[1,2,3,4,5]
temp=list[1]
list[1]=list[4]
list[4]=temp
print(list)

[1, 5, 3, 4, 2]

In [101]:
size=int(input("enter size of list: "))
list=[]
for i in range(size):
    num=int(input('enter num:'))
    list.append(num)
index1=int(input("enter idx1: "))
index2=int(input("enter idx2: "))
temp=list[index1]
list[index1]=list[index2]
list[index2]=temp
print(list)

enter size of list: 3
enter num:2
enter num:3
enter num:5
enter idx1: 2
enter idx2: 1
[2, 5, 3]

In [106]:
colour=("red","green")
more_colour=("yellow","brown")
colour=colour+more_colour
print(colour)
for i in colour:
    print(i)

('red', 'green', 'yellow', 'brown')
red
green
yellow
brown

In [109]:
col1,col2,col3,col4=colour
print(col1,col2,col3,col4)

red green yellow brown

In [20]:
input_tuple=('a','b','c','d')
my_list=[]
for i in reversed(input_tuple):
    my_list.append(i)
output=tuple(my_list)
print(output)

('d', 'c', 'b', 'a')

In [15]:
input_tuple = (1, 2, 3, 4)
my_list = []
for i in reversed(input_tuple):
    my_list.append(i)
output = tuple(my_list)
print(output)

(4, 3, 2, 1)

In [23]:
list={'a','b','c'}

In [31]:
list.add('d')
print(list)

{'e', 'd'}

In [32]:
list.remove('d')
print(list)

{'e'}

In [33]:
name={'sia','tia','mina'}

In [34]:
print(name)

{'sia', 'mina', 'tia'}

In [35]:
for x in name:
    print(x)

sia
mina
tia

In [22]:
name={'ena','mina','dika'}
new_name=['ram','shyam']
name.update(new_name)    ##to merge list in set
print(name)
name.discard("ram")  ##to remove use discard()## if value is not exist discard cant display error
print(name)

{'dika', 'mina', 'shyam', 'ram', 'ena'}
{'dika', 'mina', 'shyam', 'ena'}

In [16]:
size=int(input("enter size of list: "))
list=[]
for i in range(size):
    name=input("enter name: ")
    list.append(name)
new_list=['ram','shyam']
list.extend(new_list)     ##merge two list
print(list)
if "ram" in list:
        print("ram is exist")
else:
        print("ram not exist")

enter size of list: 3
enter name: hjffd
enter name: dfjdjf\
enter name: kfdk
['hjffd', 'dfjdjf\\', 'kfdk', 'ram', 'shyam']
ram is exist

In [20]:
a={'a','b','c','d','x'}
b={'x','y','z','a'}
print(a,b)
##c=a.union(b) ## merge two sets #
#print(c)
#a.update(b)
#print(a)
a.intersection_update(b) ##only duplicate value join
print(a)

{'a', 'x', 'c', 'b', 'd'} {'x', 'y', 'a', 'z'}
{'a', 'x'}

In [21]:
a={'a','b','c','d','x'}
b={'x','y','z','a'}
a.symmetric_difference_update(b)### except duplicate, value joint #
print(a)

{'y', 'z', 'c', 'b', 'd'}

In [44]:
a={'1','5','10','20','40','80','7'}
b={'6','7','20','80','100'}
c={'3','4','15','20','30','70','80','120'}
d=a.intersection(b) ##only duplicate value join ##
print(d)
new=d.intersection(c)
print(new)

{'7', '80', '20'}
{'80', '20'}

In [39]:
marks={'maths' :97,'english' :90}
print(marks)
#marks['maths']=95
marks['maths']=56
print(marks)
# print(marks.keys()) only keys
marks['science']=80
print(marks)
##marks.pop('maths')     ## remove at specific value
#marks.popitem()     ##remove last added item
#print(marks)
#marks.clear()      #empty the dictionary
#print(marks)
for i in marks:
#for i,j in marks.items():
   # print(i)                   #print only keys
    #print(marks[i])            #print only value
    print(i,marks[i])
   # print(i,j)

{'maths': 97, 'english': 90}
{'maths': 56, 'english': 90}
{'maths': 56, 'english': 90, 'science': 80}
maths 56
english 90
science 80

In [1]:
names={'ram','shyam'}
number={9851144455,55828522588}
print("ram :{}".format(6556565))

ram :6556565

In [37]:
result=""
for i in range(2):
    name=str(input("enter name :"))
    number=input("enter number :")
    result+=name+" : "+number+" "
    
print(result)

enter name :jgj
enter number :565
enter name :jghjg
enter number :55656
jgj : 565 jghjg : 55656

In [19]:
result = ""
for i in range(3):  # Using '_' as a convention when the loop variable is not used
    name = input("Enter name: ")
    number = input("Enter number: ")
    result += name+":" + number + " "  # Concatenating name, number, and a space
print("Concatenated string:",result)

Enter name: ghhjhj
Enter number: 2232
Enter name: jhghj
Enter number: 2323
Enter name: jhgj
Enter number: 2123
Concatenated string: ghhjhj:2232 jhghj:2323 jhgj:2123

In [1]:
print((1,2)+(3,4))

(1, 2, 3, 4)

In [6]:
n=int(input("enter number :"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

enter number :5
15

# user define function

In [3]:
def message():
    print("hello world...!")
message()

hello world...!

In [16]:
n1=int(input("enter number1: "))
n2=int(input("enter number2: "))
n3=int(input("enter number3: "))
def sum(n1,n2,n3):
    print("sum is: ",n1+n2+n3)
sum(n1,n2,n3)

enter number1: 3
enter number2: 2
enter number3: 5
sum is:  10

In [24]:
n1=int(input("enter number1: "))
n2=int(input("enter number2: "))
n3=int(input("enter number3: "))
def sum(n1,n2,n3):
    add=n1+n2+n3
    return add
print("sum is: ",sum(n1,n2,n3))

enter number1: 5
enter number2: 3
enter number3: 6
sum is:  14

In [23]:
def allnumbers(*args):
    sum=0
    for i in args:
        sum+=i
    return sum
output=allnumbers(1,2,3,4,5)
print("output :",output)

output : 15

In [20]:
def studentinfo(**kwargs):
    return kwargs
student_detail=studentinfo(name='harshu',age=25,phone=9624672940)
print(student_detail)

{'name': 'harshu', 'age': 25, 'phone': 9624672940}

# nested function

In [29]:
def outer():
    x=1
    def inner():
        y=2
        sum=x+y
        return sum
    return inner()
output=outer()
print("output: ",output)

output:  3

In [10]:
x=20
def func(x):
    x=10

func(x)
print(x)

20

In [18]:
x=20
def func(x):
    x+=10
    print(x)
func(x)
print(x)

30
20

In [3]:
def count_local_variables():
    local_vars = locals()
    return len(local_vars)

# Test the function
print("Number of local variables:", count_local_variables())

Number of local variables: 0

In [4]:
def example():
    a=1
    b=2
    c='ram'
    d=4343
    local_vars = locals()
    return len(local_vars)
print(example())

4

In [12]:
def factorial(n):
    
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

number = 5
print("Factorial of", number, "is:", factorial(number))

Factorial of 5 is: 120

# recursion function

In [23]:

def factorial(n):
    
    if n==0:
        return 1
    
        ans=1
    ans=n*factorial(n-1)
    return ans
print(factorial(5))

120

In [15]:
# to print n to 1
def number(n):
    if n ==0:
        return
    print(n)
    number(n - 1)

number(5)

5
4
3
2
1

In [16]:
# to print 1 to n
def number(n):
    if n ==0:
        return
    number(n - 1)
    print(n)
number(5)

1
2
3
4
5

In [2]:
def sum_of_n(n):
    if n==1:
        return 1
    sum=n+sum_of_n(n-1)
    
    return sum
sum_of_n(10)

55

In [4]:
# a raised to power b
def raised(a,b):
    if b==0:
        return 1
    ans=a*raised(a,b-1)
    return ans
raised(2,3)

8

In [3]:
a=2
b=3
ans=a**b
print(ans)

8

In [10]:
# febonacci sequance
def febo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        ans=febo(n-1)+febo(n-2)
        return ans
n=5        
for i in range(1,n+1):
    print(febo(i))

0
1
1
2
3

In [9]:
#string creating
#with ''
a='hello world'
#with ""
b="mr.bodar is very handsome and creative man"
#with ''' ''' is used to print malti line paragraph
c='''hello world...! 
welcome to our world'''
print(a,b)
print(c)

hello world mr.bodar is very handsome and creative man
hello world...!
welcome to our world

In [39]:
string="Hello World"
print(string[1])
print(string[-1])

e
d

In [40]:
print(string.find('d'))

10

In [41]:
print(string.index('d'))

10

In [42]:
print(string[4:7])

o W

In [43]:
string[:4]

'Hell'

In [44]:
string[7:]

'orld'

In [45]:
string[2:9:2]

'loWr'

In [46]:
string[-11:-3]

'Hello Wo'

In [47]:
string.upper()

'HELLO WORLD'

In [49]:
string.lower()

'hello world'

In [50]:
string.capitalize()      #first character of string capital

'Hello world'

In [54]:
string.split()

['Hello', 'World']

In [76]:
string="ena,mina,dika,kiya"
#string.split()

In [77]:
string.split()

['ena,mina,dika,kiya']

In [78]:
string.split(",",2)

['ena', 'mina', 'dika,kiya']

In [79]:
string.split(",")

['ena', 'mina', 'dika', 'kiya']

In [104]:
string="this is minu's  happy house always"

In [105]:
print(string)

this is minu's  happy house always

In [106]:
print(len(string))

34

In [107]:
string.find('pp')

18

In [108]:
string[0:10]

'this is mi'

In [109]:
string.replace('always','never')

"this is minu's  happy house never"

In [115]:
text=" what matter to do"
string+=text

In [116]:
string

"this is minu's  happy house alwayswhat matter to do what matter to do"

In [118]:
print(string)

this is minu's  happy house alwayswhat matter to do what matter to do

In [119]:
first="hello"
first[0]

'h'

# lambda function

In [120]:
sum=lambda x,y: x+y
sum(2,3)

5

In [125]:
power=lambda x,y: x**y
power(9,2)

81

In [15]:
even=lambda x: x%2==0
n=int(input("input number"))
if even(n)==True:
    print(n," is even")
else:
    print(n," is odd")

input number10
10  is even

In [14]:
positive=lambda x: x>=0
positive(-5)

False

In [2]:
number=lambda n: sum(range(1,n+1))
n=10
ans=number(n)
print(ans)

55

In [13]:
number=1,2,3,4,5,6,7,8
d={}
for i in range(0,len(number),2):
    d[number[i]]=number[i+1]
print(d)

{1: 2, 3: 4, 5: 6, 7: 8}

In [18]:
min(d.values())

2

In [25]:
list1=[2,4,6,8]
double=map(lambda x: x+x,list1)
list(double)

[4, 8, 12, 16]

In [48]:
string=["hello world"]
cap=map(lambda x: x.upper(),string)
list(cap)

['HELLO WORLD']

In [49]:
ran=map(lambda x: x[1:5],string)
list(ran)

['ello']

In [50]:
count=map(lambda x: x.count('l'),string)
list(count)

[3]

In [57]:
string="hello"
count=lambda x: len(x)
c=count(string)
print(c)

5

In [2]:
list1=[35,65,8,16,20,45]
#n=sorted(list1)
#n
list1.sort(key=lambda x: x+1)
list1

[8, 16, 20, 35, 45, 65]

In [66]:
sorted(list1,reverse=True)

[65, 45, 35, 20, 16, 8]

In [76]:
class1=[('9a',20),('9b',52),('9c',16)]

In [81]:
s=sorted(class1,key=lambda x: x[1])
s

[('9c', 16), ('9a', 20), ('9b', 52)]

In [4]:
f=filter(lambda x: x>=30,list1)
list(f)

[35, 45, 65]

In [6]:
countries=["india","uk","france","us","peris"]
ans=filter(lambda x: len(x)>3,countries)
list(ans)

['india', 'france', 'peris']

In [1]:

is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
for item in is_even_list:
    print(item())

10
20
30
40

In [4]:
a = 20
b = 20

In [5]:
a+b

40

In [8]:
def abc(a,b):
    c = a+b
    d = a-b
    return c, d

In [9]:
abc(10,20)

(30, -10)

In [12]:

Max = lambda a, b : a if(a > b) else b
print(Max(4, 6))

6

In [25]:
def data(x,y=20):
    c=x+y
    return c
ans=data(10,5)
ans

15

In [28]:
def square(x):
    return x*x,x*2
print(square(5))

(25, 10)

In [8]:
a=8
if a%2 == 0:
    print("even number")
else:
    print("not even")

even number

In [12]:
x=int(input("enter number of table: "))
#y=int(input("enter number of table: "))
for n in range(1,11):
    print(x," * ",n,"= ",x*n)

enter number of table: 5
5  *  1 =  5
5  *  2 =  10
5  *  3 =  15
5  *  4 =  20
5  *  5 =  25
5  *  6 =  30
5  *  7 =  35
5  *  8 =  40
5  *  9 =  45
5  *  10 =  50

In [38]:
string="hello world welcome"
print(string[4])
print(string[-1])
print(string[1:5])
print(string[6:])
print(string[1::2])
print(string[-1:-5:-1])

o
e
ello
world welcome
el ol ecm
emoc

In [39]:
for i in range(len(string)):
    print(string[i])

h
e
l
l
o

w
o
r
l
d

w
e
l
c
o
m
e

In [40]:
for i in string:
    print(i)

h
e
l
l
o

w
o
r
l
d

w
e
l
c
o
m
e

In [41]:
string.upper()

'HELLO WORLD WELCOME'

In [42]:
string.lower()

'hello world welcome'

In [43]:
string.capitalize()

'Hello world welcome'

In [44]:
string.title()

'Hello World Welcome'

In [49]:
string.find('e',2)

13

In [61]:
string="hello"
string.isalpha()

True

In [62]:
string.isdigit()

False

In [63]:
string.isalnum()

True

In [70]:
x=10
y=20
print("***** {:>10} *{:^20}".format(x,y))

*****         10 *         20

In [75]:
l=[1,2,3,[4,5,6],7]
l[3][1]

5

In [76]:
l[2:4]

[3, [4, 5, 6]]

In [77]:
l[::2]

[1, 3, 7]

In [103]:
l=[10,50,30,40,80,90]
t=len(l)

In [93]:
t

6

In [102]:
l=[10,50,30,40,80,90]
t=len(l)
for i in range(t-1,-1,-1):
    print(l[i])

90
80
40
30
50
10

In [104]:
del l[2]

In [105]:
l

[10, 50, 40, 80, 90]

In [106]:
l.pop(3)

80

In [111]:
l.remove(50)
l

[40, 90]

In [112]:
l.count(10)

0

In [126]:
l.append(10)

In [127]:
l.append(40)

In [128]:
l

[10, 40, 40, 90, 10, 40]

In [129]:
l.count(40)

3

In [130]:
max(l)

90

In [131]:
min(l)

10

In [132]:
list1=["hello","world","earth"]
max(list1)

'world'

In [133]:
min(list1)

'earth'

In [135]:
l.sort()
l

[10, 10, 40, 40, 40, 90]

In [136]:
list1.sort()
list1

['earth', 'hello', 'world']

In [138]:
l.reverse()
l

[90, 40, 40, 40, 10, 10]

In [140]:
m=zip(l,list1)
print(list(m))

[(90, 'earth'), (40, 'hello'), (40, 'world')]

In [141]:
n="hello bodar"
n.split()

['hello', 'bodar']

In [2]:
l=[]
while True:
    c=int(input('''enter value: 
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit: 
                    '''))
    if c==1:
         n=input("enter value: ")
         l.append(n)
         print(l)
    elif c==2:
        if len(l)==0:
            print("empty list...!")
        else:
            p=l.pop() 
            print(p)
    elif c==3:
        if len(l)==0:
            print("empty stack")
        else:
            print("last stack value: ",l[-1])
    elif c==4:
        print("full stack: ",l)
    else:
        print("exit....!")
        break;

enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    1
enter value: 35
['35']
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    1
enter value: 20
['35', '20']
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    1
enter value: 16
['35', '20', '16']
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    1
enter value: 70
['35', '20', '16', '70']
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    2
70
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    3
last stack value:  16
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    4
full stack:  ['35', '20', '16']
enter value:
                    1. push
                    2.pop
                    3.peek
                    4.display
                    5.exit:
                    5
exit....!

In [9]:
d={'name':'ram','age':25,'hobby':'music'}
for i in d:
    print(i,'=',d[i])

name = ram
age = 25
hobby = music

In [10]:
d['name']

'ram'

In [11]:
d.get('age')

25

In [15]:
for i,j in d.items():
    print(i,'=',j)

name = ram
age = 25
hobby = music

In [22]:

d = dict(name='shyam', fees=5000)

print(d)

{'name': 'shyam', 'fees': 5000}

In [23]:
t=(10,20,15,25,20)
sum(t)

90

In [24]:
sum(t,20)

110

In [25]:
t[2]

15

In [26]:
s={10,20,50,30}

In [27]:
s.add(40)

In [28]:
s

{10, 20, 30, 40, 50}

In [29]:
s.add(60)
s

{10, 20, 30, 40, 50, 60}

In [31]:
s.pop()

40

In [34]:
s.remove(50)

In [35]:
s

{10, 20, 30, 60}

In [36]:
l=[40,10,50,70,80]
s.update(l)
s

{10, 20, 30, 40, 50, 60, 70, 80}

In [38]:
def data(a,b):
    c=a+b
    return c
n=data(10,20)
print(n)

30

In [44]:
x=lambda i,j: i+j
y=x(20,10)
print(y)

30

In [54]:
city=['jaipur','kota','delhi','bombey','afghanistan']
def length(city):
    return(len(city))
sort=sorted(city,key=length)
print(sort)

['kota', 'delhi', 'jaipur', 'bombey', 'afghanistan']

In [58]:
city=['jaipur','kota','delhi','bombey','afghanistan']
sort=sorted(city,key=lambda x: len(x),reverse=True)
print(sort)

['afghanistan', 'jaipur', 'bombey', 'delhi', 'kota']

In [74]:
l=['ram','shyam']
length=lambda x: len(x)
result = list(map(length,l))
print(result)
merge=zip(l,result)
print(dict(merge))

[3, 5]
{'ram': 3, 'shyam': 5}

In [3]:
age =input("enter your age: ")
f = open("data.txt","w")

f.write(age)
f.close()

enter your age: 30