In [1]:
print("hello world")

hello world

In [13]:
a = "hello mr.bodar"
print(a)

hello mr.bodar

In [3]:
a = "hello"
print(a)

hello

In [16]:
a = " hello"
b = " hitesh"
print(a +  b)

 hello hitesh

In [18]:
a = "hello"
b = "hitesh"
print(a) 
print(b)

hello
hitesh

In [6]:
name = input("what is your name?")
print("hello" + name)

what is your name?harshu
helloharshu

In [7]:
old_age = input("old age: ")
print(old_age)

old age: 25
25

In [8]:
old_age = input("old age: ")
new_age = int(old_age) + 5
print(new_age)

old age: 25
30

In [16]:
a = input("a= ")
b = input("b= ")
sum = int(a) + int(b)
print(sum)
print("sum is = " + str(sum))

a= 2
b= 2
4
sum is = 4

In [20]:
name = "world"
print(name.upper())

WORLD

In [24]:
name = "Hitesh Bodar"
print(name.find('B'))
print(name.find('H'))

7
0

In [32]:
name = "HITESH BODAR"
print(name.find('H'))
print(name.replace('H','M'))
print("PODAR" in name)

0
MITESM BODAR
False

In [1]:
print(2+3)

5

In [2]:
i=2
i+=5
print(i)

7

In [3]:
print(2+3*2)

8

In [4]:
print((2+3)*2)

10

In [10]:
#input value
val=input("val...")
print(val)

val...2
2

In [11]:
name= "Hitesh"
print(name.replace('H','M'))

Mitesh

In [19]:
print(5**2)

25

In [21]:
print(3>=2)

True

In [ ]:
# not iqual to(!=)
print(3!=3)

# or =if one or two condition is true then o/p is true otherwise o/p is false
print(2>3 or 3>2)
print(2>2 or 2>3)

# and = if two condition is true then o/p is true,if any one condition is true or false then o/p is false
print(2>3 and 3>2)
print(2>1 and 3>2)

In [7]:
first=input("first value: ")
operator=input("enter operator:(+.-,*,/): ")
second=input("second value: ")
first=int(first)
second=int(second)
if operator=="+":
    print(first + second)    
elif operator=="-": 
    print(first - second)
elif operator=="*": 
   print(first * second)
elif operator=="/":
    print(first / second)
else:
    print("invalid operator")

first value: 2
enter operator:(+.-,*,/): *
second value: 3
6

In [1]:
#range 0 to 5
print(range(5))

range(0, 5)

In [4]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [5]:
i=1
while i<=5:
    print(i * "*")
    i=i+1

*
**
***
****
*****

In [2]:
i=5
while i>=2:
    print(i * "@")
    i=i-1

@@@@@
@@@@
@@@
@@

In [8]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [13]:
marks=[98,90,95]
print(marks[0:2])

[98, 90]

In [16]:
marks=[98,90,95]
for score in marks:
    print(score)

98
90
95

In [21]:
marks=[98,90,95]
#to add other marks
marks.append(80)
print(marks)

[98, 90, 95, 80]

# to add marks in position
marks=[98,90,95]
marks.insert(1, 99)
print (marks)

In [24]:
marks=[98,90,95]
marks.insert(1, 99)
print(93 in marks)

False

In [30]:
#to count length of marks
marks=[98,90,95]
marks.insert(1, 99)
print(len(marks))

4

In [6]:
marks=[98,90,95]
marks.insert(1, 99)
i=0
while i<len(marks):
    print(marks[i])
    i=i+1

98
99
90
95

In [2]:
students=["ram","shyam","kishan","radha","radhika"]
for student in students:
    if student=="radha":
        break;
    print(student)

ram
shyam
kishan

In [3]:
students=["ram","shyam","kishan","radha","radhika"]
for student in students:
    if student=="radha":
        continue;
    print(student)

ram
shyam
kishan
radhika

In [12]:
name="Hitesh"
print(name.index('t'))

2

In [14]:
name="hdhsdjtdtt"
print(name.count('t'))

3

In [16]:
#[]{}()
name=["ram","shyam","kishan"]
print(name)
for i in name:
    print(i)

['ram', 'shyam', 'kishan']
ram
shyam
kishan

In [18]:
name=("ram","shyam","kishan","ram")
i=0
while i<len(name):
    print(name[i])
    i=i+1

ram
shyam
kishan
ram

In [27]:
#{} can not exist index
name={"ram","shyam","kishan","ram"}
print(name)

{'ram', 'kishan', 'shyam'}

In [35]:
#to add and change value using{}
marks={"maths":99,"physics":95,"science":85}
print(marks)
marks["physics"]=97;
marks["english"]=86
print(marks)

{'maths': 99, 'physics': 95, 'science': 85}
{'maths': 99, 'physics': 97, 'science': 85, 'english': 86}

In [37]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [38]:
from math import sqrt
print(sqrt(16))

4.0

In [1]:
import string
print(dir(string))

['Formatter', 'Template', '_ChainMap', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_re', '_sentinel_dict', '_string', 'ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'capwords', 'digits', 'hexdigits', 'octdigits', 'printable', 'punctuation', 'whitespace']

# user define function ##
def add(a,b):
    print(a+b)
add(5,2)

In [4]:
print("first name: ")
fname=input()
print("second name: ")
sname=input()
print("last name: ")
lname=input()
def fullname(fname,sname,lname):
    print(fname,sname,lname)
fullname(fname,sname,lname)

first name:
harshita
second name:
hitesh
last name:
bodar
harshita hitesh bodar

In [7]:
'''print("hello")'''

'print("hello")'

In [1]:
7*7

49

In [1]:
student=["ram","shyam","kishan"]
teacher=["vipul","shukla","bharat"]
print("enter name: ")
name=input()
if name in student:
        print(name +" is student ")
elif name in teacher:
        print(name+ " is teacher")
else:
        print("none")

enter name:
kishan
kishan is student

In [9]:
a=("first {},second {},third {}".format('a',2,3))
print(a)

first a,second 2,third 3

In [12]:
print("no1.{},no2.{},no3.{}".format(1,2,3))

no1.1,no2.2,no3.3